<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAIz2El_bQEzcFypHldGyeeJAixuB4IoFc</string>
	<key>GCM_SENDER_ID</key>
	<string>850225604013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Akhilesh-Warty.TimeCraft</string>
	<key>PROJECT_ID</key>
	<string>timecraft-3dab7</string>
	<key>STORAGE_BUCKET</key>
	<string>timecraft-3dab7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850225604013:ios:eb3d88ea6778b31f0e2d24</string>
</dict>
</plist>